* {
  text-decoration-line: none;
  font-family: satoshiRegular;
}

body {
  background-color: black;
  color: white;
}

@font-face {
  font-family: satoshiRegular;
  src: url(/public/font/Satoshi-Regular.ttf);
}

@font-face {
  font-family: satoshiVariable;
  src: url(/public/font/Satoshi-Variable.ttf);
}

.container {
  text-align: center;
}

.nav {
  justify-content: right;
  margin-right: 2rem;
  display: flex;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav span {
  margin-right: 10px;
}

.nav button {
  border: 0px;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0px 0px 2px 0 grey;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
}

.nav button:hover {
  text-shadow: 0px 0px 5px white;
  cursor: pointer;
  background-color: #141414;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.task-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 6vh;
  color: white;
}

.task-form input {
  border: transparent;
  background-color: black;
  border-radius: 6px;
  width: 25vw;
  padding: 15px;
  box-shadow: inset 0px 0px 2px 0 grey;
  outline: grey;
  color: white;
}

.task-form input:hover {
  background-color: #141414;
}

.task-form input::-moz-selection {
  background-color: #141414;
}

.task-form button {
  border-radius: 4px;
  background-color: transparent;
  border: 0px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: inset 0px 0px 2px 0 grey;
  color: white;
}

.task-form button:hover {
  /* transform: translateY(-2px); */
  text-shadow: 0px 0px 5px white;
  background-color: #141414;
  cursor: pointer;
}

.task-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid transparent;
  width: 50vw;
  height: 5vh;
  background-color: #141414;
  border-radius: 12px;
  box-shadow: inset 0px 0px 2px 0 grey;
}

.task-details h4 {
  background-color: #141414;
}

.task-segment {
  display: flex;
  align-items: center;
}

.priority-icons {
  display: flex;
}

.task-details:hover {
  opacity: 90%;
  transform: translateY(-5px);
  transition: 0.1s;
  border-bottom: 2px solid grey;
  border-radius: 12px;
}

.task-actions {
  background-color: #141414;
}

.modal-text > * {
  color: white !important;
  opacity: 90%;
}

.delete-button {
  margin-right: 5px;
  background-color: #141414;
}

.delete-button:hover {
  cursor: pointer;
}

.edit-button {
  background-color: #141414;
}

.edit-button:hover {
  cursor: pointer;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login page */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20vh;
}

.login input {
  padding: 12px;
  width: 25vw;
  background-color: white;
  color: black;
  border: 0px;
  outline: none;
  border-radius: 2px;
}

.login button {
  margin-top: 10px;
  border-radius: 4px;
  background-color: transparent;
  border: 0px;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: inset 0px 0px 2px 0 grey;
}

.login button:hover {
  text-shadow: 0px 0px 5px white;
  background-color: #141414;
  cursor: pointer;
}

/* Signup page */
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20vh;
}

.signup input {
  padding: 12px;
  width: 25vw;
  background-color: white;
  color: black;
  border: 0px;
  outline: none;
  border-radius: 2px;
}

.signup button {
  margin-top: 10px;
  border-radius: 4px;
  background-color: transparent;
  border: 0px;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: inset 0px 0px 2px 0 grey;
}

.signup button:hover {
  text-shadow: 0px 0px 5px white;
  background-color: #141414;
  cursor: pointer;
}
